<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="{{url_for('predict')}}"
      method="post"
      enctype="multipart/form-data"
    >
      <h1 class="" id="c1">Detect message is Spam or Ham</h1>
      <h3>Upload a CSV file containing messages:</h3>
      <input type="file" name="file" class="" /><br />

      <button class="" type="submit">Predict</button>
    </form>
  </body>
</html>
