<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Detection</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">Spam detection</div>
    <form>
    <div class="inputs">
      <label>Enter text</label>
      <input class="input" type="text"/>
      <label>Output :</label>
      <input class="input" type="text"/>
      <button type="submit">Check</button>
    </form>
    <form>
        <br>
      <label >Enter file</label>
      <input class="if" type="file"/>
      <button type="submit">Click to download result</button>
    </form>
    </div>
  </div>
</body>
</html>